.board_row{
  width:calc(100% - 70px);
  position:relative;
  padding-right: 70px;

  .board_name{
    position:absolute;
    top:0;
    bottom:0;
  }
  button{
    position:absolute;
    right:0;
    top:.2em;
    bottom:.3em;
    padding: .4em;
    width:50px;
    float:right;
  }
}
.boardTitles{
  font-weight:600;

  span{

    &:nth-of-type(2), &:nth-of-type(3) {
      float:right;
      margin-left:1.8em;
    }
  }
}
.boardNav{
  text-align:center;
  margin-top:2em;
  a{
    background-color:#f6f6f6;
    color:#999;
    padding:1em;
    text-decoration:none;

    &:hover{
      color:#7cc576;
      background-color:#f1f1f1;

    }
  }
}
.post{
  box-shadow:inset -100px 0 0 #f8f8f6;
  background:#fff;
  position:relative;
  margin:0;
  padding:0;
  padding-left: 120px;
  padding-right: 120px;
  padding-top:6em;
  padding-bottom:6em;

  a{
    text-decoration:none;
    color:#333;
    margin-left:0;
    padding-left:0;
    background:transparent;
  }
  h2 span{
    padding:0;
    background:transparent;

  }
  .post_description{
    width:calc(100% - 150px);
    font-weight:400;
    font-size:13pt;
    color:#666;
    margin-top:.5em;
  }
  .post_info{
    position:absolute;
    left:120px;
    bottom:0;
    font-weight:600;
    font-size:15pt;
    color:#d6d6d6;
  }
  .post_launch{
    position: absolute;
    width:100px;
    right:0;
    z-index:2;
    height:100%;
    top:0;
    font-size:25pt;
    background:none;
    border:none;
    color:#e2e2dd;

    &:hover{
      cursor: pointer;
      background:$primary-color;
      color:#fff;

    }
  }
  .rate{
    position:absolute;
    width:100px;
    left:0;
    top:0;
    bottom:0;
    background:#fafaf8;

    .score{
      position:absolute;
      top:calc(50% - 12.5pt);
      font-size:25pt;
      width:100%;
      text-align:center;
      color: #666;
    }
    .fa{
      font-size:25pt;
    }
    button{
      background:none;
      border:none;
      color:#e2e2dd;
      z-index:2;

      &:hover{
        cursor: pointer;
        color:#7cc576;
      }
    }
    .rate_up{
      position:absolute;
      top:0;
      left:0;
      right:0;
      width:100%;
      bottom:70%;
    }
    .rate_down{
      position:absolute;
      bottom:0;
      left:0;
      right:0;
      width:100%;
      top:70%;
    }
  }

  &:nth-of-type(even){
    background:#f8f7f6;
    box-shadow:inset -100px 0 0 #f4f4f1;

    .rate{
      background:#f4f4f1;
    }

  }

  h2{
    text-align:left;
    margin:-2em 0 0 0;
    padding:0;

    &:before {
      content: "";
      display: none;
      border-top: solid 1px #dedede;
      width: 100%;
      height: 1px;
      position: absolute;
      top: 50%;
      z-index: 1;
      margin: 0 auto;
    }
  }
}
