.postDescription{
  text-align:center;
  font-size:18pt;
  color:#666;
}

.commentmaker{
  margin-bottom:6em;
  button{
    width:25%;
    float:right;
    margin:1em 1em 4em 75%;
    clear:both;
  }
  textarea{
    margin:0 1em;
    width:calc(100% - 4em);
    height: 7em;
  }
}

.replyButton{
  position:absolute;
  right:40px;
  bottom:0;
  background:#f8f8f8;
  color:#ccc;
  padding:.5em;

  &:hover{
    color:#666;
    cursor:pointer;
  }

}

.replyBoxHolder{
  width:calc(100% - 100px);
  float:right;

  .commentmaker{
    margin-right:0;
    margin-top:2em;

    button{
      margin-right:0;
    }

    textarea{
      margin-right:0;
      float:right;
    }
  }
}

.commentsList{
  margin:0 1em;
  width:calc(100% - 4em);
}
.loadMore{
  font-size:13pt;
  border: 2px solid #666;
  color: #666;
  padding:.5em 1em;
  margin: 4em auto;
  background:none;
  width:150px;
  margin-left:calc(50% - 75px);
  transition:border .2s ease-in-out, color .2s ease-in-out;

  &:hover{
    border: 2px solid #7cc576;
    color: #7cc576;
    cursor: pointer;
  }
}
.sub-comment-block{
  width:calc(90%);
  float:right;
  overflow:hidden;
}

.comment-block{
  width:calc(100% + 30px);
  overflow:hidden;
  .spacer{
    height:2em;
    width:100%;
  }
}
.comment{
  position:relative;
  margin:0;
  padding:0;
  width:calc(100% - 90px);
  padding-left: 120px;
  padding-bottom:4em;
  height:auto;

  .post_description{
    width:100%;
    font-weight:400;
    font-size:15pt;
    color:#666;
    margin:0;
    padding-bottom:1em;
  }
  .post_info{
    position:absolute;
    left:120px;
    bottom:0;
    font-weight:600;
    font-size:12pt;
    color:#d6d6d6;
  }

  .rate{
    position:absolute;
    padding: .5em 0;
    width:100px;
    left:0;
    top:0;
    bottom:0;
    background:#fafaf8;

    .score{
      position:absolute;
      top:calc(50% - 12.5pt);
      font-size:25pt;
      width:100%;
      text-align:center;
      color: #666;
    }
    .fa{
      font-size:25pt;
    }
    button{
      background:none;
      border:none;
      color:#e2e2dd;
      z-index:2;

      &:hover{
        cursor: pointer;
        color:#7cc576;
      }
    }
    .rate_up{
      position:absolute;
      top:0;
      left:0;
      right:0;
      width:100%;
      bottom:70%;
    }
    .rate_down{
      position:absolute;
      bottom:0;
      left:0;
      right:0;
      width:100%;
      top:70%;
    }
  }

  &:nth-of-type(even){
    background:#f8f7f6;
    box-shadow:inset -100px 0 0 #f4f4f1;

    .rate{
      background:#f4f4f1;
    }

  }

  h2{
    text-align:left;
    margin:-2em 0 0 0;
    padding:0;

    &:before {
      content: "";
      display: none;
      border-top: solid 1px #dedede;
      width: 100%;
      height: 1px;
      position: absolute;
      top: 50%;
      z-index: 1;
      margin: 0 auto;
    }
  }
}
