@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";
$primary-color: #19B5FE;

*{ outline: none; }

.primaryContainer{
  min-height:100%;
  padding:0;
  position:relative;
  max-width:1200px;
  margin:0 5em;
  margin:0 auto;
}

.fa:hover{
  cursor: pointer;
}

.btn-default{
  border:none;
  background:$primary-color;
  color:#fff;
  font-size:12pt;
  padding:1em;
  width:100%;

  &:hover{
    background:#22A7F0;
    cursor: pointer;
  }
}

.center{
  margin:0 auto;
}
.fifty{
  width:50%;
}

input[type="text"]{
  border:none;
  background:#f8f8f8;
  color:#333;
  font-size:12pt;
  padding:1em;
  width:calc(100% - 2em);
}

textarea{
  border:none;
  background:#f8f8f8;
  color:#333;
  font-size:12pt;
  height:10em;
  padding:1em;
  width:calc(100% - 2em);
}

.error{
  padding:1em;
  background:#e74c3c;
  color:#fff;
  margin-top:1em;
}

label{
  color:#666;
  font-size:18pt;
  padding:1em;
  padding-left:0;
}

.rate_down{

  &:hover > i{
    color:#e74c3c;
  }

  &.active i{
    color: #e74c3c;
  }
}

.rate_up{

  &.active i{
    color: $primary-color;
  }
}

.paddme{
  padding-top:5em;
  border-right:5em solid $primary-color;
  border-left:5em solid $primary-color;
}
.boardIndex{
  font-weight:600;
  color: $primary-color;
  font-size:30pt;
  margin-top:.5em;
  margin-bottom:0;
}

.boardsList{
  padding:0 5em 5em 5em;
}

.boardLink{
  font-size:20pt;
  color:#666;
  transition: color 0.2s ease-in-out;
  display:block;
  clear:both;
  text-decoration:none;
  margin:0;

  &:hover{
    cursor: pointer;
    color:$primary-color;
    text-decoration:none;
  }
}

body,html {
  font-family: 'PT Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  background: $primary-color;
  color: #3e3e3e;
  text-rendering: optimizeLegibility;
  font-variant-ligatures: normal;
  font-kerning: auto;
  height:100%;
  padding:0;
  margin:0;
  min-width:780px;
}

.mainFooter{
  background-image: url('images/cityscape.png');
  background-size: cover;
  height:20em;
  width:100%;
  position:relative;

  .footertext{
    position:absolute;
    bottom:0;
    height:50px;
    width:100%;
    color:#fff;
    text-align:center;
    padding-top:100px;

    a, a:visited{
      color:#eee;
    }
  }
}

h1,h2,h3,h4,h5{
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
}

h1 {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 34px;
  text-transform: uppercase;
  letter-spacing: 10px;
}
.container{
  background:#fff;
}
header{
  width:400px;
  text-align:center;
  padding:2em;
  margin:0 auto;
  transition:border .2s ease-in-out;
  border: 5px solid #3e3e3e;

    &:hover{
      cursor: pointer;
      border: 5px solid $primary-color;

      a{ color: $primary-color }
    }
    h1,h2,h3,h4{
      margin:0;
      padding:0;
    }
    a{
      text-decoration:none;
      transition:color .2s ease-in-out;
      color: #3e3e3e;
    }
}

::-moz-selection {
  background: #9DF5E3;
  text-shadow: none;
  color: $primary-color;
}

::selection {
  background: #9DF5E3;
  text-shadow: none;
  color: $primary-color;
}
fieldset {
  page-break-inside: avoid;
}

h1,
h2,
h3,
h4,
h5,
h6,
.description {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 34px;
  text-transform: uppercase;
  letter-spacing: 10px;
}

h1 a {
  display: block;
  text-decoration: none;
  color: #3e3e3e;

  &:hover{
    cursor: hover;
    text-decoration: none;
  }
}


h2 {
  font-size: 2.5em;
  margin-top: 10px;
  padding: 25px 0 20px 0;
  position: relative;
}

h2:before {
  content: "";
  display: block;
  border-top: solid 1px #dedede;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
  margin: 0 auto;
}

h2 span {
  padding: 0 20px;
  position: relative;
  z-index: 5;
  background:#fff;
}

h3 {}

h4 {}

h5 {}

h6 {}

strong {
  font-weight: 600;
}

.description {
  color: #c3c2be;
  position: relative;
  padding: 0 25px 30px 25px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.description:before {
  content: '“';
  display: inline;
}

.description:after {
  content: '”';
  display: inline;
}
.primaryNav{
  font-size:12pt;
  color:#c3c2be;
  width:100%;
  text-align:center;
  margin:3em auto;
  margin-bottom:0;

  a{
    color:#A8A8A7;
    text-decoration:none;

    &:hover{
      cursor: pointer;
      color:$primary-color;
    }
  }
  .title{
    font-weight: 600;
    color:#666;
    margin-right:1em;
  }
  span{
    margin-right: .5em;
  }
}

.pagination-container {
	margin: 4em auto;
  margin-bottom:0;
  margin-left:-2em;
	text-align: center;
	display: inline-flex;
	width: 100%;

}

.pagination {
	margin: 0 auto;
}

.pagination-item {
    background-color: $primary-color;
    border-radius: 50%;
    color: #fff;
    float: left;
    font-size: 2em;
    height: 100px;
    line-height: 3em;
    list-style-type: none;
    width: 100px;
    position: relative;
}

.pagination-link {
	padding: 1.1em 1.6em;
	float: left;
	text-decoration: none;
	color: #8b969c;
}

.pagination-item--wide {
	list-style-type: none;
	float: left;
	position: relative;
	top: 2.3em;
}

.pagination-item--wide.first {
	margin: 0 1em 0 0;
}

.pagination-item--wide.last {
	margin: 0 0 0 1em;
}

.pagination-link--wide {
	text-decoration: none;
	color: #8b969c;
	padding: 1.1em 1.6em;
}

.pagination-link--wide:hover {
	color: $primary-color;
}

.pagination-number {
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    background:none;
    width: 100%;
}
fieldset{
  border:none;
}
a:visited{
  text-decoration:none;
}



/* Checkbox */
.regular-radio:focus { outline: none; }

.regular-radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  float:right;
  height: 30px;
  width: 50px;
  background-color: #e56c69;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
}

.regular-radio:checked:after {
  content: '';
  width: 22.5px;
  height: 24px;
  top: 3px;
  left: 3px;
  position: absolute;
  background: #fff;
}

.regular-radio:checked {
  background-color: $primary-color;
}

.regular-radio:after {
  content: ' ';
  width: 22.5px;
  height: 24px;
  top: 3px;
  left: 24px;
  position: absolute;
  background: #fff;
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
}

.prettyHR{
  border:none;
  margin-top:2em;
  margin-bottom:2em;
  height:1px;
  background:#eee;
}

@import 'boards';
@import 'grid';
@import 'comments';
@import 'animate';
@import 'sweetalert';

.map-marker{
  width:150px;
  background: #34495e;
  margin-bottom:1em;
  float:left;

  &:hover{
    background: #2c3e50;
  }
}
.locationText{
  width:calc(100% - 200px);
  float:right;
  text-align:right;
  font-size:13pt;
  font-weight:200;
  margin-top:0;
  padding-top:.3em;
  color:#777;
}
.postMenu{
  position:absolute;
  right:100px;
  top:0;
  background:#f8f8f6;
  z-index:1000;
  font-size:20pt;
  color:#ccc;
  padding:.2em .5em;

  .postMenuButton{
    width:100%;
    height:100%;
  }

  &:hover{
    cursor: pointer;
    background:$primary-color;
    color:#fff;

  }
}
.postMenuThing{
  position:absolute;
  right: -60px;
  bottom: 60px;
  background: #f8f8f6;
  width:140px;
  text-align:center;
  height:50px;
  color:#fff;
  font-size: 13pt;
  padding:.5em;

  &:after {
    position:absolute;
    bottom:-10px;
    left:50px;
    content: '';
  	width: 0;
  	height: 0;
  	border-left: 20px solid transparent;
  	border-right: 20px solid transparent;

  	border-top: 20px solid #f8f8f6;
  }

  a{
    color:#555;
    padding:1em;
    padding:0;

    &:hover{
      color: $primary-color;
    }

  }
}
